@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import "nullstyle/nullstyle";
@import "header/header";
@import "main-block/main-block";
@import "offers/offers";
@import "bonuses/bonuses";

.wrapper{
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.page{
  flex: 1 1 auto;
}
._container{
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: content-box;
}