.footer__privacy{
  background: #EFEFEF;
}
.privacy{}
.privacy__container{
  display: flex;
  min-height: 64px;
  align-items: center;
  justify-content: space-between;
}
.privacy__info{
  color: #828282;
  font-size: 12px;
  line-height: calc(14/12*100%)
}
.privacy__polisy{
  color: #828282;
  font-size: 12px;
  line-height: calc(14/12*100%);
}
