.page__offers {
}

.offers {
  padding: 70px 0;
  @media (max-width: 1049px) {
    &{
      padding: 70px 0 50px 0;
    }
  }
}

.offers__container {
}

.offers__header {
  display: flex;
  justify-content: space-between;
}

.offers__title {
  font-size: 24px;
  line-height: calc(28 / 24 * 100%);
  font-weight: 700;
}

.offers__image {
  @media (max-width: 450px) {
    &{
      width: 131px;

    }
  }
}

.offers__body {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px -15px;
}

.offers__column {
  padding: 0 15px 15px;
  flex: 0 1 25%;
  @media (max-width: 1049px) {
    &{
      flex: 0 1 50%;
    }
  }
  @media (max-width: 498px) {
    &{
      flex: 0 1 100%;
    }
  }
}

.offers__item {
}

.item {
  background: #FFFFFF;
  padding: 25px 30px;

  & > *:not(:last-child) {
    margin: 0 0 20px 0;
  }
}

.item__image {

  display: flex;
  align-items: center;
  justify-content: center;


}

.item__text {
  line-height: calc(20 / 14 * 100%);
  text-align: center;
  color: #333333;
}

.item__price {
  font-size: 21px;
  line-height: calc(25 / 21 * 100%);
  text-align: center;
  letter-spacing: 0.05em;
  font-weight: 500;
}

.item__button {
  text-align: center;
  display: flex;
  justify-content: center;
}

.item__link {
  background: #66C05D;
  border-radius: 30px;
  font-size: 14px;
  line-height: calc(16/14*100%);
  color: #FFFFFF;
  letter-spacing: 0.05em;
  padding: 10px 40px;
  transition-duration: 1s;
  &:hover{
    text-decoration: underline;
    background: #EFEFEF;
    color: #66C05D;
  }
}