.footer__location{
  background: #FFFFFF;
}
.location{}
.location__container{
  display: flex;
  flex-wrap: wrap;
  min-height: 121px;
  align-items: center;
  justify-content: space-between;


}

.location__networks{}
.networks{

}
.networks__list{
  display: flex;
  align-items: center;


}

.networks__item{
  padding: 10px;
  border: 2px solid #66C05D;
  border-radius: 50%;
  & img {
    width: 23px;
    height: 23px;
  }

}
.networks__link{}
.location__address{

}
.address__link{
  line-height: calc(16/14*100%);
  color: #000000;
  &:hover{
    text-decoration: underline;
  }
}
.location__phone{

}
.phone__link{
  font-size: 16px;
  line-height: calc(19/16*100%);
  color: inherit;
  &:hover{
    text-decoration: underline;
  }
}
.location__call{}
.call__link{
  color: inherit;
  line-height: calc(16/14*100%);
  padding: 13px 26px;
  background: #FFFFFF;
  border-radius: 40px;
  border: 2px solid #66C05D;
  transition-duration: 1s;
  &:hover{
    text-decoration: underline;
     border: 2px solid gold;
  }
}
